* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

h1 {
    border: 1px solid black;
    background-color: aquamarine;
    font-size: 1.5rem;
    width: fit-content;
    max-height: fit-content;
    margin:0 0 20px 0;
    padding: 0 32px;  
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

p {
    margin: 32px;
}

.chicken {
    background-color: rgb(194, 93, 93);
    position: relative;
    left: 240px;  
}

.beef {
    background-color: rgb(201, 201, 151);
    position: relative;
    left: 280px;
}

.sushi {
    background-color: rgb(101, 189, 115);
    position: relative;
    left: 268px;
}
.heading {
    font-size: 2rem;
    justify-content: center;
    margin: 64px auto;
    border: none;
    background-color: unset;

}

.container {
    background-color: rgb(226, 226, 226);
    border: 1px solid black;
    width: 400px;
    height: 200px;
    margin: auto 16px;
    position: relative;
}


/* STYLING THE WITH MEDIA QUERIES TO ADD RESPONSIVENESS */

@media (min-width: 992px) {
    .container {
        width: 400px;
        height: 200px;
    }

}


@media (min-width:768px) and (max-width:991px) {
    
    .container {
        width: 400px;
        margin-bottom: 20px;
    }
    .container_three{ 
        width: 100%;
        height: 200px;
    }
    .sushi {
        background-color: rgb(101, 189, 115);
        position: relative;
        left: 796px;
        
    }

    .heading {
        font-size: 1.25rem;
        justify-content: center;
        margin: 64px auto;
        border: none;
        background-color: unset;
    }
}

@media (max-width:767px){
    .container {
        width: 100%;
        height: 200px;
        margin: 20px ;
    }

    .heading {
        font-size: 1rem;
        font-weight: bold;
    }

    .chicken {
        background-color: rgb(194, 93, 93);
        position: relative;
        left: 200px;  
    }
    
    .beef {
        background-color: rgb(201, 201, 151);
        position: relative;
        left: 240px;
    }
    
    .sushi {
        background-color: rgb(101, 189, 115);
        position: relative;
        left: 228px;
    }

}